form {
  text-align: center;
}

form.form-sm {
  width: 13em;
}

form * {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 0.2em;
}

form a {
  text-decoration: none;
}

form *:last-child {
  margin-bottom: 0.2em;
}

input {
  border: 0.2em solid #bbb;
  border-radius: 0.2em;
  padding: 1em;
  font-size: 1em;
  transition: 0.3s border ease-out;
}

input:active, input:focus {
  border: 0.2em solid #eee;
  outline: 0;
}

button {
  font-size: 1em;
  padding: 1em;
  border: 0;
  border-radius: 0.1em;
  transition: 0.4s background ease-out;
  color: #eff;
  background: #129994;
  font-weight: bold;
}

button:hover, button:active {
  background: #0EB4DB;
}

.separator {
  margin: 0.7em 0 0.7em 0;
  border-top: 1px solid #bbb;
}

.back-button {
  margin-bottom: 4em;
}

form.collector {
  display: inline-block;
  text-align: center;
  padding: 1em;
  width: 5em;
  height: 20em;
}

form.collector button {
  display: block;
  width: 5em;
  height: 5em;
  border-radius: 5em;
  outline: 0;
}

.red {
  background: #B30707;
}

.red:hover {
  background: #F90808;
}

.green {
  background: #048E04;
}

.green:hover {
  background: #23E723;
}

.yellow {
  background: #CCD214;
}

.yellow:hover {
  background: #F3FA09;
}
